/* .container {
  opacity: 1;
  transition: opacity 2s ease-in-out; /* Плавное исчезновение за 2 секунды */

/* .container.fade-out {
  opacity: 0;
} / */
.box {
  font-family: "Lexend", sans-serif;
}
