.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.4),
      rgba(46, 47, 66, 0.4)
    ),
    url(../../../images/bar3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
  max-width: 100%;
  background-size: cover;
}
.title {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 700;

  color: rgb(243, 229, 192);
  margin: 0 auto;
}
@media screen and (min-width: 700px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.4),
        rgba(46, 47, 66, 0.4)
      ),
      url(../../../images/bar2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 110px 0;
  }
  .title {
    font-size: 50px;
    max-width: 700px;
  }
}
@media screen and (min-width: 1024px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.4),
        rgba(46, 47, 66, 0.4)
      ),
      url(../../../images/bar.jpg);

    padding: 180px 0;
  }
  .title {
    font-size: 60px;
    max-width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.4),
        rgba(46, 47, 66, 0.4)
      ),
      url(../../../images/bar0.jpg);
  }
}
