.header {
  background-color: rgb(87, 33, 36);
  background-image: linear-gradient(rgb(50, 50, 88), rgb(23, 23, 41));

  background-position: center;
}
.logo {
  display: flex;

  width: 50px;
  text-decoration: none;
}
.logo_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  display: block;
  width: 50px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.image_logo {
  width: 120px;
  margin-left: 5px;
}
