.cont {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
  color: rgba(211, 184, 31, 0.911);
}
.item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (max-width: 319px) {
  .list {
    font-size: 13px;
  }
}
