.section {
  background-color: rgb(22, 22, 39);
  color: white;
  padding: 30px 15px;
  font-family: "Lexend", sans-serif;
}

.item:nth-child(odd) {
  text-align: end; /* Задаем фон для каждого второго элемента */
  width: 100%;
}
.title {
  font-family: "Raleway", sans-serif;
  margin: 20px 0 15px 0;
  text-align: center;
  color: rgb(247, 165, 59);
}
.main_list {
  margin: 0;
  padding: 0;
  list-style: none;
}
li:nth-child(2n) .box_des {
  flex-direction: row-reverse;
}
.box_des {
  display: flex;

  justify-content: space-around;
  align-items: center;
  background-color: rgba(29, 29, 51, 0.404);
  border-radius: 12px;
}
.image {
  display: block;
  max-width: 200px;

  border-radius: 12px;
}
.description {
  margin: 0;
  padding: 0 20px;
}
@media screen and (min-width: 700px) {
  .section {
    color: white;
  }
  .title {
    margin: 25px auto 15px auto;
    text-align: center;

    font-size: 25px;
  }
  .main_list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 18px;
    max-width: 95%;
  }
}
@media screen and (min-width: 1024px) {
  .description {
    padding: 10px 50px;
  }
  .section {
    color: white;

    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }
  .item:nth-child(odd) {
    text-align: start; /* Задаем фон для каждого второго элемента */
    width: 100%;
  }
  li:nth-child(2n) .box_des {
    flex-direction: row;
  }
  .title {
    text-align: center;

    font-size: 27px;
  }
  .main_list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 19px;
    max-width: 100%;
  }
}
@media screen and (max-width: 549px) {
  .image {
    display: none;
  }
  .item:nth-child(odd) {
    text-align: center; /* Задаем фон для каждого второго элемента */
    width: 100%;
  }
  .description {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .main_list .item:nth-child(1) .description {
    background-image: linear-gradient(
        rgba(17, 18, 51, 0.7),
        rgba(17, 18, 51, 0.7)
      ),
      url(../../../images/wiskey.jpg);
  }
  .main_list .item:nth-child(2) .description {
    background-image: linear-gradient(
        rgba(17, 18, 51, 0.7),
        rgba(17, 18, 51, 0.7)
      ),
      url(../../../images/jin.jpg);
  }
  .main_list .item:nth-child(3) .description {
    background-image: linear-gradient(
        rgba(17, 18, 51, 0.7),
        rgba(17, 18, 51, 0.7)
      ),
      url(../../../images/rum.jpg);
  }
  .main_list .item:nth-child(4) .description {
    background-image: linear-gradient(
        rgba(17, 18, 51, 0.7),
        rgba(17, 18, 51, 0.7)
      ),
      url(../../../images/klass.jpg);
  }
  .group_des {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(
        rgba(17, 18, 51, 0.7),
        rgba(17, 18, 51, 0.7)
      ),
      url(../../../images/party.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .description {
    padding-right: 90px;
  }
}
