.footer {
  background-image: linear-gradient(rgb(15, 15, 15), rgb(47, 47, 51));

  background-position: center;
}
.logo {
  display: block;
  width: 50px;
  text-decoration: none;
}
.image {
  display: block;
  width: 50px;
}
.content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
