.footer {
  background-image: linear-gradient(rgb(50, 50, 88), rgb(23, 23, 41));

  background-position: center;
}
.logo {
  display: block;
  width: 50px;
  text-decoration: none;
}
.all_info {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.image {
  display: block;
  width: 50px;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1370px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.rights {
  color: rgba(126, 123, 123, 0.568);
  margin: 0;
  padding: 10px 15px;
  font-size: 10px;
}
@media screen and (min-width: 700px) {
  .rights {
    font-size: 15px;
  }
}
