.icon {
  fill: rgba(247, 188, 59, 0.897);
  width: 40px;
  transition: fill 0.3s ease;
  cursor: pointer;
}
.icon:hover {
  fill: rgba(245, 237, 125, 0.897);
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

@media screen and (max-width: 351px) {
  .icon {
    width: 30px;
  }
  .contacts {
    width: 200px;
  }
}
